.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding: 0px 5px;
}

li {
  word-wrap: normal;
  background-color: #c6eddf;
}

h2 {
  color: #0d0d0d;
}

.Header {
  grid-area: top;
  border: 2px solid #65a68e;
  background-color: #65a68e;
  padding: 10px;
  margin: 0.65em;
}

.individual-article {
  padding: 0em 1em;
  margin: 0em 2em;
}

.listItems {
  border: 1px solid black;
  padding: 0.5em 1.5em;
  margin: 1em;
}

.links {
  margin: 1em;
}

.navBar {
  background-color: #bebabf;
}

@media only screen and (min-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: max-content auto;
    grid-template-areas:
      'top top'
      'sidebar main';
  }
  .articles {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
  }

  .individual-article {
    grid-area: main;
    max-width: 850px;
    align-self: center;
  }

  .listItems {
    border: 1px solid black;
    padding: 0.5em 1.5em;
    margin: 1em;
    width: 25%;
  }

  .navBar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
  }

  p {
    padding: 0em 4em;

    text-align: center;
  }
}
