.App {
  text-align: center;
}

button {
  border: 2px solid rgb(216, 214, 214);
  margin: 0px 10px 10px 10px;
  border-radius: 5px;
  font-size: large;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: #0d0d0d;
}

label {
  float: left;
  padding-left: 15px;
  padding-right: 10px;
  font-size: large;
}

li {
  word-wrap: normal;
  background-color: #c6eddf;
}

input {
  margin: 10px;
  font-size: large;
}

p {
  padding: 5px 5px 0px 5px;
}

textarea {
  width: 95%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #e4f7f0;
  resize: none;
}

ul {
  list-style: none;
  padding: 0px 5px;
}

.dropdown {
  font-size: large;
}

.Header {
  grid-area: top;
  border: 2px solid #65a68e;
  background-color: #65a68e;
  padding: 10px;
  margin: 0.65em;
}

.individual-article {
  padding: 0em 1em 2em 1em;
  margin: 1em 1em;
  border: solid 1px grey;
}

.input-label {
  margin: 10px;
  font-size: large;
}

.links {
  margin: 1em;
}

.listItems {
  border: 1px solid black;
  padding: 0.5em 1.5em;
  margin: 1em;
}

.navBar {
  background-color: #bebabf;
}

.post-comment_button {
  background-color: #65a68e;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 25px;
  margin: 4px 2px;
}

.username-label {
  align-items: flex-start;
  display: flex;
  padding: 5px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr;
    grid-template-rows: max-content auto;
    grid-template-areas:
      'top top top'
      'sidebar sort-by login'
      'sidebar main main';
    justify-content: center;
  }

  p {
    padding: 10px 4em 0px 4em;

    text-align: center;
  }

  .articles {
    grid-area: main;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
  }

  .comment-form {
    display: flex;
    grid-area: main;
    flex-wrap: wrap;
    justify-content: center;
  }

  .individual-article {
    grid-area: main;
    max-width: 1000px;
  }

  .input-label {
    grid-area: sort-by;
    align-items: center;
    display: flex;
    margin-left: 50px;
  }

  .listItems {
    border: 1px solid black;
    padding: 0.5em 1.5em;
    margin: 1em;
    width: 25%;
  }

  .navBar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .user-image {
    grid-area: login;
  }

  .login-container {
    display: flex;
    grid-area: login;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5em;
  }
  .user-login {
    display: flex;
    grid-area: login;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-right: 50px;
  }

  .user-profile {
    display: flex;
    grid-area: main;
    align-items: center;
    flex-direction: column;
  }

  .profile-container {
    display: flex;

    justify-content: flex-start;
    align-items: center;
    font-size: 1.3rem;
    line-height: 1.8;
    width: 40%;
  }
  .profile-container img {
    padding: 5px;
    height: 200px;
  }
  .profile-container dl {
    flex-grow: 2;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.5rem;
    color: #000;
    border-radius: 5px;
  }

  .post-article-container {
    grid-area: main;
  }
}
